### Xcode ###
## User settings
xcuserdata/

## Test reports
test_output/

## Fastlane reports
fastlane/report.xml

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

## Xcode Patch ##
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

### Other Configurations ###
.DS_Store
