<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>d197ed41db84__etrusted-ios-sdk</string>
	<key>ClientSecret</key>
	<string>96e87f24-230a-4704-997c-8f040849e5de</string>
</dict>
</plist>
